body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #fff;
}

.hidden {
    display: none;
}

#password-container {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    width: 90%;
}

#password-input {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background: #ff4081;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #e73370;
}

#error-message {
    color: red;
    margin-top: 10px;
}

.container {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
    color: #fff;
    overflow-y: auto;
}

.photo-placeholder img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: #ff4081;
}

h2 {
    color: #ff80ab;
    margin-top: 30px;
}

p, ul {
    color: #ccc;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin: 10px 0;
}

.additional-text {
    margin-top: 30px;
}

.gallery {
    margin-top: 30px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.photo-grid img {
    width: 100%;
    border-radius: 5px;
}

.confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.confetti-piece {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.7;
    animation: fall 5s infinite;
}

@keyframes fall {
    0% {
        top: -10px;
    }
    100% {
        top: 100vh;
        transform: rotate(360deg);
    }
}
